In [2]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
for num in range(10,20):
    print(num, end=" ")

10 11 12 13 14 15 16 17 18 19

In [10]:
List2=[10,20,14,55,43,87,76]
print(List2)
print(f"The number of elements in List2: \n{len(List2)}")

[10, 20, 14, 55, 43, 87, 76]
The number of elements in List2:
7

In [14]:
str = "Artificial Intelligence"
print(str)
for letter in str:
    print(letter)
print("\n")

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [18]:
Name=input("-Your Name-")
print("-Your Name-",Name)
Age=int(input("-Your Age-"))
print("-Your Age-",Age)
Profession=input("-Your Profession-")
print("-Your Profession-",Profession)

-Your Name- shankar

-Your Name- shankar

-Your Age- 46

-Your Age- 46

-Your Profession- IT

-Your Profession- IT

In [19]:
tup=(1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [21]:
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'HOPE')
tuple3 = (tuple1, tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [26]:
LIST=[20,10,16,19,25,1,276,188]
for num in LIST:
    if(num%2!=0):
        print(num, "is odd")

19 is odd
25 is odd
1 is odd

In [27]:
LIST=[20,10,16,19,1,276,188]
for num in LIST:
    if(num%2==0):
        print(num, "is even")

20 is even
10 is even
16 is even
276 is even
188 is even